server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: n8n
    static_configs:
      - targets:
          - localhost
        labels:
          job: n8n-logs # Use a descriptive job name to query later
          __path__: /var/log/n8n/*.log # This is the path INSIDE the Promtail container
